buildtest.sh
notebooks
notebooks_original
/___DELETE/
*__DEL*
*notebooks*
*reference*
/notebooks/
/notebooks_archive/
/notebooks_original/
/training_models/
*.ipynb_checkpoints*
.git
.gitignore
/data/
*news_vectors.csv
*.ipynb
/sombrowser/test/
_ignore/
docs/videos/
