/___DELETE/
*__DEL*
*notebooks*
*reference*
/notebooks/
/notebooks_archive/
/notebooks_original/
/training_models/
*.ipynb_checkpoints*
.git
.gitignore
/data/
*news_vectors.csv
_ignore/

docs/videos/
*.ipynb
/sombrowser/test/
